/* django-blog-zinna overrides */

.col-md-4, .col-md-8 {
float: right;
}

/* Carousel base class */

.navbar-collapse.collapse.in {
display: block!important;
background: #006600;
border-width: 9;
border-color: #006600;
}

.btn:hover {
background: #333333;
color: #fff;
}

.html {
font-weight: bold;
}

body {
font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
background: #fff;
background-color: #fff;
}

.body.home {
background: #fff;
background-color: #fff;
}

footer {
background: #fff;
background-color: #fff;
}

#wrap {
background: #fff;
/* padding-bottom: 40px; */
/* padding-top: 10px; */
/* width: 100%; */
}

.carousel-inner {
line-height: 1;
height: 300px;
}

.home-facets {
text-align: center;
padding: 3em 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
width: 100%;
height: 300px;
/* overflow: hidden; */
}

.navbar-inverse {
background-color: rgba(0,102,0,1);
border-radius: 0;
}

.navbar {
max-height: 60px;
}

.nav-logo {
width: 360px;
height: 25px;
background: url() no-repeat;
}

/*custom buttons*/
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 700;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 0px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 16px;
color: #fff;
line-height: 1.42857143;
border-radius: 4px;
user-select: none;
}

.hero-unit .btn:hover {
background: #006600;
}

.hero-unit .btn {
background: #333333;
}

.btn {
background: #006600;
}

.btn:hover {
background: #333333;
}

.btn-large {
background: #006600;
}

.btn-large:hover {
background: #333333
}

.btn.btn-primary:hover {
background: #333333;
}

.btn.btn-primary {
background: #006600;
}

article h3 [class*=" icon-"] {
color: #006600;
}

article h3 [class^="icon-"], [class*=" icon-"] {
color: #006600;
}

.viewby a.active {
color: #006600;
}

.btn.btn-secondary {
color: #006600;
}

.btn.btn-secondary:hover {
color: #333333;
}

.btn-mini {
background: #006600;
}

.btn-mini:hover {
background: #333333;
}

/* custom text */
a {
color: #006600
}

a:hover {
color: #006600;
}

#sort .selected {
color: #006600;
}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
color: #006600;
}

.navbar .nav>li>a {
color: #fff;
text-shadow: 1px
}

/*background color for top nav*/
.navbar .navbar-inner {
background: #fff;
}

/* top nav bar*/
.nav-box {
background: #fff;
}

nav.main-nav ul li a {
color: #006600;
font-size: 18px;
}

/*css for main page layer list heading*/
section.widget h2 {
        background: #333333;
}

/*style the side nav menu items similar to theme*/
#slide-pane h2 {
        background: #333333;
}

/*style page top tab bar in theme
body.search #subnav-tabs a.search, body.upload #subnav-tabs a.upload, body.explore #subnav-tabs a.exp$
        background: #333333;
}
*/
/*style page top tab bar in theme
body.data #subnav-tabs a, body.maps #subnav-tabs a, body.people #subnav-tabs a, body.documents #subna$
        background: #333333;
}
*/

/*Zinnia Customization*/

entry.entry-header{
         color: #006600;
}

.span5{
        width:32.53012%;
        float:right;
        margin-right:10px;
}
