{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}
  {% block hero %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/carosel3.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to NEPAnode></h1>
              <p class="lead">A web application for collaborating on<br />
              data, maps, projects designed for non-GIS experts.</p>
              <a class="btn btn-danger" href="/help/">Get Started</a>
              <p class="image-credit"></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/carosel2.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Interactive mapping</h1>
              <p class="lead">You can combine already existing layers with your own data to create<br />
              powerful interactive maps accessible from all devices.</p>
              <a class="btn btn-danger" href="/maps/">Explore Maps</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/carosel1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>GIS data standardization</h1>
              <p class="lead">GeoNode facilitates data standardization within our organization by providing<br />
              a clear process for uploading your data, its metadata, and documents</p>
              <a class="btn btn-danger" href="/upload/">Upload Layers</a>
              <p class="image-credit"></p>
            </div>
          </div>
        </div>
      </div>
      <h1><a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a></h1>
      <h1><a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a></h1>
    </div><!-- /.carousel -->
  {% endblock %}
  {% block mainbody %}
  <p>
  <br>
<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title text-center">Introduction and Overview</h1>
  </div>
  <div class="panel-body">
  <iframe width="100%" height="400px" frameBorder="0" src="http://nepanode.anl.gov/geojson/map/nepanode-introduction_39?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=false&onLoadPanel=undefined"></iframe><p><a href="http://nepanode.anl.gov/geojson/m/39"><h3>View Full Screen</h3></a></p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title text-center">Tools and Services</h1>
  </div>
  <div class="panel-body">
  <section id="t-cards">
    <div class="container">
        <div class="row">
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://i.imgur.com/ehI61RL.jpg" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="uploaded/pictogram/Blank_Green_USmap.png" />
                    </div>
                    <div class="panel-body text-center">
                        <h3 class="panel-header"><a href="/account/signup/">NEPAnode Site</a></h3>
                        <small>Portal for Public Data and Documents</small>
                    </div>
                </div>
             </div>
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="http://i.imgur.com/r5on6kD.png" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="uploaded/pictogram/Blank_Green_USmap.png" />
                    </div>
                    <div class="panel-body text-center">
                        <h3 class="panel-header"><a href="http://projects.nepanode.anl.gov">Projects Site</a></h2>
                        <small>NEPAnode's Project Site allows users and groups to upload, permission, and version control a project's data and documents
                    </div>
                </div>   
             </div>
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img class="img-rounded" src="http://www.esri.com/news/arcuser/1010/graphics/flood_2b_lg.jpg" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="uploaded/pictogram/Blank_Green_USmap.png" />
                    </div>
                    <div class="panel-body text-center">
                        <h3 class="panel-header"><a href="http://warp.nepanode.anl.gov">MapWarper Site</a></h3>
                        <small>Upload and Georeference Static Maps then Search for NEPA Projects and Reference Maps by Text, Keyword, or Location</small>
                    </div>
                </div>
              </div>   
              <div class="col-sm-6 col-md-3">
        	<div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://camo.githubusercontent.com/866819f2583e8fd24676c3d0b84ad2a10ce9d313/687474703a2f2f692e696d6775722e636f6d2f61306d53724a762e6a7067" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="uploaded/pictogram/Blank_Green_USmap.png" />
                    </div>
                    <div class="panel-body text-center">
                        <h3 class="panel-header"><a href="/geojson/map/new">GeoJSON Editor</a></h3>
                        <small>Create, Style, Present your own Map and Data from Scratch. Use over ~15 provided Basemaps or <a href="http://warp.nepanode.anl.gov">MapWarper</a> maps as a Custom Basemap</small>
                    </div>
            	</div>   
    	      </div>
       </div>
    </div>
  </section>
  </div>
  </div>     
  {% verbatim %}
  <p>
  <div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title text-center">Featured Content</h1>
  </div>
  <div class="panel-body">
  <section id="t-cards">
  <div class="container">
  <div ng-app="featured">
  <div ng-repeat="item in featured">
             <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img class="img-rounded" src="{{ item.thumbnail_url }}" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="uploaded/pictogram/Blank_Green_USmap.png" />
                    </div>
                    <div class="panel-body text-center">
                        <h6 class="panel-header"><a href="{{ item.detail_url }}">{{ item.title }}</a></h6>
                        <small>{{ item.abstract }}</small> 
                    </div>
                </div>
             </div>
  </div> 
  </div>
  </div>
  </section>
  </div>
  {% endverbatim %}
  {% endblock %}
  
{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){  
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();  
  </script>

{% endblock extra_script %}
