{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/DOEEarthDay1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to NEPAnode</h1>
              <p class="lead">A web application for collaborating on<br />
              data, maps, projects designed for non-GIS experts.</p>
              <a class="btn btn-danger" href="/account/signup/">Get Started</a>
              <p class="image-credit"></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/DOEEarthDay2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Communicate and Collaborate through Maps</h1>
              <p class="lead">You can combine already existing layers with your own data to create<br />
              powerful interactive maps accessible from all devices.</p>
              <a class="btn btn-danger" href="/maps/">Explore Maps</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/DOEEarthDay3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>GIS data standardization</h1>
              <p class="lead">NEPAnode facilitates data standardization by providing<br />
              a clear process for uploading Documents and Data compiling metadata and styling.</p>
              <a class="btn btn-danger" href="/upload/">Upload Layers</a>
              <p class="image-credit"></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><h1>&lsaquo;</h1></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><h1>&rsaquo;</h1></a>
    </div><!-- /.carousel -->
  {% endblock %}
