{% extends "base.html" %}
{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64243301-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}	
{% block extra_tab %}
<li>
 <a class="btn btn-info" role="button" href="/geojson/map/new/">GeoJSON</a>
</li>
<li>
 <a class="btn btn-info" role="button" href="{% url 'zinnia:sitemap' %}">Blog</a>
</li>
<li>
 <a class="btn btn-info" role="button" href="/helpdesk/">Helpdesk</a>
</li>
{% endblock %}
